%div{class: "entity #{cycle('line_odd', 'line_even')}" }
  %span.word= entity.word
  %span.part_of_speech= entity.part_of_speech.acronym
  %span.translation= entity.translation
  %span.sentence= entity.sentence
  %span.tags= entity.all_tags(current_user)
