%header.navbar.navbar-fixed-top.navbar-inverse
  .navbar-inner
    .container
      %nav
        %ul.nav
          %li= link_to 'Categories', categories_path
          - if @category.present?
            %li= link_to 'Words', dictionary_all_category_path(@category)
          - else
            %li= link_to 'All Words', dictionary_all_path
          - if @category.present?
            %li= link_to 'Lessons', category_lessons_path(@category)
            %li= link_to 'Translate Me', translate_me_all_category_path(@category)
          - unless user_signed_in?
            %li= link_to 'Sign in', new_user_session_path
            -#%li= link_to 'Sign up', new_user_registration_path
          - else
            %li= link_to 'Sign out', destroy_user_session_path, method: :delete