= render 'shared/search'

- if params[:controller] == 'dictionary'
  %h1
    Words
    - if !@entities.nil? && @entities.count > 2
      #{@entities.first.word} - #{@entities.last.word}
  = render 'shared/letters'
- elsif params[:controller] == 'lessons'
  %h1
    Lessons
    - if !@lessons.nil? && @lessons.count > 2
      #{@lessons.first.number} - #{@lessons.last.number}
  = render 'shared/lessons'
- elsif params[:controller] == 'translate_me_game'
  %h1
    Translate Me
    - if !@lessons.nil? && @lessons.count > 2
      #{@lessons.first.number} - #{@lessons.last.number}
  = render 'shared/games'
- elsif params[:controller] == 'search'
  %h1
    Results for #{params[:search]}
