%h3
  = link_to "Translate #{@tag.name}", translate_tag_path(@tag)
  for
  = link_to "#{@tag.name}", tag_path(@tag)

%button{id: 'all_at_once', type:"button", class:"btn"} All At Once
%button{id: 'by_one', type:"button", class:"btn"} By One
%button{id: 'next_one', type:"button", class:"btn", style: "display: none;"} Next One

- @tag_entities.each do |e|
  %div{class: "entity #{cycle('line_odd', 'line_even')}" }
    %span.word= e[0]
    %span.translation{style: 'display: none;'}
      = e[1]
    %span.sentence{style: 'display: none;'}
      = e[2]

%hr
%button{id: 'translate_me', type:"button", class:"btn btn-danger"} Translate!
%button{id: 'show_sentence', type:"button", class:"btn btn-success"} Sentence