%div{class: "entity #{cycle('line_odd', 'line_even')}" }
  %span.word= bundle_entity[:word]
  %span.part_of_speech= bundle_entity[:part_of_speech]
  %span.translation= bundle_entity[:translation]
  %span.sentence= bundle_entity[:sentence]
