- unless first_lesson?(@category, @lesson.number)
  = link_to 'Previous', previous_translate_me_path(@category, @lesson.number)
- unless last_lesson?(@category, @lesson.number)
  = link_to 'Next', next_translate_me_path(@category, @lesson.number)

%h3
  = link_to "Game", translate_me_category_path(@category, @lesson.number)
  for
  = link_to "Lesson #{@lesson.number}", lesson_category_path(@category, @lesson.number)

- @entities_array.each do |e|
  .entity
    %span.word= e[0]
    %span.translation{style: 'display: none;'}
      = e[1]
    %span.sentence{style: 'display: none;'}
      = e[2]

%button{id: 'translate_me', type:"button", class:"btn btn-danger"} Translate!
%button{id: 'show_sentence', type:"button", class:"btn btn-success"} Sentence