- unless first_lesson?(@category, @lesson.number)
  = link_to 'Previous', previous_translate_me_path(@category, @lesson.number)
- unless last_lesson?(@category, @lesson.number)
  = link_to 'Next', next_translate_me_path(@category, @lesson.number)

%h3
  = link_to "Game", translate_me_category_path(@category, @lesson.number)
  for
  = link_to "Lesson #{@lesson.number}", category_lesson_path(@category, @lesson)

%button{id: 'all_at_once', type:"button", class:"btn"} All At Once
%button{id: 'by_one', type:"button", class:"btn"} By One
%button{id: 'next_one', type:"button", class:"btn", style: "display: none;"} Next One

- @entities_array.each do |e|
  %div{class: "entity #{cycle('line_odd', 'line_even')}" }
    %span.word= e[0]
    - if user_signed_in?
      = button_to "Know",                                      |
                  lesson_known_path(@lesson, e[0]),            |
                  remote: true
      = button_to "Don't know",                                |
                  lesson_unknown_path(@lesson, e[0]),          |
                  remote: true
    %span.tags= render partial: 'tags/tag', collection: e[3]
    %span.translation{style: 'display: none;'}
      = e[1]
    %span.sentence{style: 'display: none;'}
      = e[2]

%hr
%button{id: 'translate_me', type:"button", class:"btn btn-danger"} Translate!
%button{id: 'show_sentence', type:"button", class:"btn btn-success"} Sentence