!!!
%html
  %head
    %title MerryEnglish
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    = render 'shared/header'
    .container
      = render 'shared/sidebar'
      %hr
      = yield
      = render 'shared/footer'
    %hr
    %footer
      .container
        %small
          2015 by Alex Izotov
