!!!
%html
  %head
    %meta{name: "viewport", content: "width=devise-width, initial-scale=1.0, user-scalable=yes"}/
    %title MerryEnglish
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    = render 'shared/header'
    .container
      = render 'shared/top_bar'
      %hr
      = yield
      = render 'shared/bottom_bar'
    %hr
    %footer
      .container
        %center
          %i 2015 by Alex Izotov
          %br
          %br
