!!!
%html
  %head
    %meta{name: "viewport", content: "width=devise-width, initial-scale=1.0, user-scalable=yes"}/
    %title MerryEnglish
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    = render 'shared/header'
    .container
      = content_tag(:p, notice, class: 'notice') if notice.present?
      = content_tag(:p, alert, class: 'alert') if alert.present?
      = content_tag(:p, flash[:error], class: 'error') if flash[:error].present?
      = render 'shared/top_bar'
      = yield
      = render 'shared/bottom_bar'
      -#= debug(params)
    = render 'shared/footer'